@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Delice pan</h1>   
</div>

<div class="row">
    <div class="col-md-4" style="background-image: url('../../Images/cozonac.jpg');height: 300px;">
        <h2>Cozonac</h2>
    </div>
    <div class="col-md-4" style="background-image: url('../../Images/placinta.jpg');height: 300px;">
        <h2>Placinta cu branza</h2>
     </div>
    <div class="col-md-4" style="background-image: url('../../Images/saratele.jpg');height: 300px;">
        <h2>Saratele</h2>
        
    </div>
</div>